%p
  #{@message}.

%p
  = link_to _("See the affected projects in the glimmer admin panel"), admin_projects_url(last_repository_check_failed: 1)

%p
  = _("You are receiving this message because you are a glimmer administrator for %{url}.") % { url: Glimmer.config.glimmer.url }

= render_if_exists 'repository_check_mailer/email_additional_text'
